
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
    font-size: 16px;
   
}
.activ{
    min-width: 70px;
    height: 25px;
    border-radius: 13px;
    background-color: white;
    color: darkslateblue;
}